/* Estilo padrão para os botões da barra de navegação */
.sidebar-button {
    -fx-pref-width: 150px;
    -fx-max-width: infinity;
    -fx-border-width: 1px;
    -fx-background-color: #DCE4F2;
}

/* Efeito ao passar o mouse por cima */
.sidebar-button:hover {
    -fx-background-color: #DCE4F2; 
    -fx-background-radius: 5px; 
}